.controller {
  padding: 1rem;
  box-sizing: border-box;
  background: #ccc;
}

.controller li {
  padding: .5rem;
}

.controller li:hover {
  cursor: pointer;
}

.controller_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.controller_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.controller_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.controller_left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.controller_top li,
.controller_bottom li {
  display: inline-block;
}

.controller_sub {
  position: relative;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.controller_bottom .controller_sub:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: solid 1px #777;
}
